.cart {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3b3b3c;
  display: flex;
  align-items: center;
  color: #999;
  height: 50px;
  &__icon {
    width: 50px;
    height: 50px;
    background: #333;
    border-radius: 50%;
    position: relative;
    top: -10px;
    margin: 0 10px;
    background: url(https://s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:9096d347/c6896f9806bdcb2399cb680fb5dec8c0.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
    &.active {
      background: url(https://s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:9096d347/03098cb323a0263fdbbb102c696433c5.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__num {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    color: #fff;
    background-color: #fb4e44;
    font-size: 20px;
    transform: scale(0.5) translate(50%, -50%);
    border-radius: 50%;
    text-align: center;
  }
  &__text {
    font-size: 14px;
    flex: 1;
  }
  &__price {
    font-size: 16px;
    font-weight: bold;
    padding: 0 18px;
    line-height: 50px;
  }
  &__price-inner {
  }
  &__other-price {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
  }
  &__confirm {
    font-size: 16px;
    font-weight: bold;
    padding: 0 18px;
    line-height: 50px;
  }

  &__total-wrap {
    flex: 1;
  }
  &__total {
    color: #999;
  }
  &__price-prefix {
    display: inline-block;
    margin-right: 2px;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    width: 16px;
  }
  &__current-price {
    font-size: 24px;
    color: #fff;
    margin-right: 5px;
  }
  &__origin-price {
    text-decoration: line-through;
    font-size: 12px;
  }
  &__total-other {
    margin-top: 4px;
    font-size: 11px;
  }
}

.cart__check {
  color: #333;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  background: #f8c74e;
  background-image: linear-gradient(-135deg, #ffbd27 0%, #ffd161 100%);
  padding: 0 30px;
  position: relative;
}

.cart__conform-active {
  font-size: 16px;
  font-weight: bold;
  padding: 0 18px;
  line-height: 50px;
  background: #2e2d2d;
}
