.list-item {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 25px;
  margin-top: 10px;
  .left-item {
    margin-right: 8px;
    .item-img {
      width: 100%;
      width: 76px;
      height: 57px;
      border-radius: 3px;
    }
  }
  .right-item {
    flex: 1;
    // border: 1px solid red;
    .shop-name {
      font-size: 16px;
      color: #333;
      line-height: 1.4;
      white-space: nowrap;
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
    }
    .item-desc {
      display: flex;
      flex-direction: row;
      font-size: 11px;
      line-height: 1.4;
      color: #333;
      margin-top: 4px;
      .item-sales {
        width: 50%;
        height: 16px;
        // .star {
        //   background: url("./img/star.png");
        //   width: 10px;
        //   height: 10px;
        //   float: left;
        //   background-position: 40% 5.66%;
        //   background-size: 126% 379%;
        //   transform: scale(0.83) translateY(1px);
        // }
        // .gray-star {
        //   background-position: 40% 96.226%;
        // }
        .star-score {
          margin-left: 4px;
          margin-right: 10px;
          display: inline-block;
          transform: translateY(-5px);
        }
      }
      .item-delivery {
        text-align: right;
        width: 50%;
      }
      .item-distance::before {
        content: '';
        display: inline-block;
        margin: 0 3px;
        height: 6px;
        width: 1px;
        background: #ccc;
      }
    }
    .item-price {
      margin-top: 4px;
      .item-price-detail {
        font-size: 11px;
        line-height: 1.4;
      }
      .item-price-detail::before {
        content: '';
        display: inline-block;
        margin: 0 3px;
        height: 6px;
        width: 1px;
        background-color: #ccc;
      }
      .item-price-detail:first-child::before {
        display: none;
      }
      .meituan-tag {
        float: right;
        background-image: url('./img/mt-tag.png');
        background-repeat: no-repeat;
        width: 50px;
        height: 15px;
        background-size: cover;
      }
    }

    .discount-content {
      max-height: 40px;
      position: relative;
      overflow: hidden;
      .discount-arrow-up {
        position: absolute;
        background-image: url('./img/arrow-up.png');
        background-size: cover;
        top: 8px;
        right: 0;
        width: 10px;
        height: 10px;
        &.arrow-down {
          transform: rotate(180deg);
        }
        &.hidden-arrow {
          visibility: hidden;
        }
      }
      &.toggle {
        max-height: none;
      }

      .discount-wrap {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 2px;
        .discount-wrap-item {
          img {
            width: 15px;
            height: 15px;
            margin-right: 5px;
          }
          span {
            color: #666;
            font-size: 11px;
            line-height: 1.4;
          }
        }
      }
    }
    .item-recommend {
      font-size: 11px;
      margin-top: 10px;
      white-space: nowrap;
      max-width: 90%;
      text-overflow: ellipsis;
      margin-bottom: 4px;
    }
  }
}
