.food-item:last-child {
  margin-bottom: 200px;
}
.food-item {
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  height: 122px;
  display: flex;
  &__sku {
    display: inline-block;
    vertical-align: middle;
    color: #fb4e44;
    font-size: 10px;
    padding: 0 5px;
    height: 15px;
    box-sizing: border-box;
    margin-left: -3px;
    .food-item__sku-inner {
      position: relative;
      display: inline-block;
      padding: 2px;
      ::before {
        content: '';
        position: absolute;
        top: -50%;
        bottom: -50%;
        left: -50%;
        right: -50%;
        transform: scale(0.5);
        border-style: solid;
        border-width: 1px;
        border-color: #fb4e44;
        border-radius: 0;
      }
    }
  }
  &__left {
  }
  &__image {
    padding-top: 5px;
    margin-right: 6px;
    width: 75px;
    height: 56px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__right {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  &__title {
    // display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    line-height: 22.5px;
    margin-bottom: 3px;
  }
  &__desc {
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 15px;
    font-size: 11px;
    color: #666666;
    word-break: break-all;
    margin-bottom: 4px;
  }
  &__num {
    line-height: 15px;
    font-size: 11px;
    color: #666666;
    margin-bottom: 3px;
  }
  &__sales {
    margin-right: 10px;
  }
  &__praise {
  }
  &__price {
    margin-bottom: 2px;
    margin-left: -2px;
  }
  &__origin {
    margin-left: 4px;
    display: inline-block;
    font-size: 11px;
    line-height: 13.5px;
    height: 13.5px;
    color: #a9a9a9;
    text-decoration: line-through;
    vertical-align: middle;
  }
  &__current {
    height: 21.5px;
    line-height: 21.5px;
    display: inline-block;
    color: #fb4e44;
    font-size: 18px;
    font-family: 'PingFangSC-Medium', 'Hiragino Sans GB', Arial, Helvetica,
      '\5B8B\4F53', sans-serif;
    vertical-align: middle;
  }
  .food-item__button {
    position: absolute;
    top: 8.7vh;
    right: 5px;
    background-image: url(../../Banner/img/add.png);
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    width: 25px;
    background-size: 100% 100%;
    border: none;
  }
  .food-item__sku-text {
    display: inline-block;
    padding: 1px;
  }
  &__count {
    position: absolute;
    right: 0;
    bottom: 38px;
    height: 25px;
  }
  &__count-left {
    padding-left: 20px;
    padding-right: 10px;
    margin-right: -10px;
    padding-top: 15px;
    margin-top: -15px;
    padding-bottom: 15px;
    margin-bottom: -15px;
    .food-item__count-left-btn {
      border-radius: 50%;
      display: inline-block;
      height: 25px;
      width: 25px;
      background-size: 100% 100%;
      border: none;
      background-image: url(./img/min.png);
      box-sizing: border-box;
      outline: none;
    }
  }
  &__count-amount {
    display: inline-block;
    transform: translateY(-5px);
    padding: 0 10px;
    text-align: center;
    color: #333333;
  }
  &__count-right {
    padding-right: 10px;
    margin-right: -10px;
    padding-left: 10px;
    margin-left: -10px;
    padding-top: 15px;
    margin-top: -15px;
    padding-bottom: 15px;
    margin-bottom: -15px;
    .food-item__count-right-btn {
      border-radius: 50%;
      display: inline-block;
      height: 25px;
      width: 25px;
      background-size: 100% 100%;
      border: none;
      background-image: url(../../Banner/img/add.png);
      outline: none;
    }
  }
}

.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter 0.3s;
}

.lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity 0.3s;
}
