.right-food-list {
  position: relative;
  width: 264px;
  left: 100px;
  overflow: auto;
  background-color: #ffffff;
  &__title {
    box-sizing: border-box;
    height: 36px;
    line-height: 36px;
    width: 280px;
    font-size: 12px;
    padding-left: 10px;
    margin-left: -10px;
    z-index: 10;
    background-color: #fff;
    color: #333333;
  }
}
.title-sticky {
  position: fixed;
  top: 40px;
}
