//清除浮动
.clearfix::after {
  content: '';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.scale-1px {
  position: relative;
  border: none;
}
//通过缩放来解决移动端1px问题
.scale-1px::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  transform: scaleY(0.5);
  //基于初始位置进行缩放
  transform-origin: 0, 0;
}

//超过一行显示省略号
.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//超过两行显示省略号
.two-line {
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
