//清除浮动
.clearfix::after {
  content: "";
  visibility: hidden;
  display: block; // 默认是inline
  height: 0;
  clear: both; //不允许有浮动元素
}
.scale-1px {
  position: relative;
  border: none;
}
//通过缩放来解决移动端1px问题
.scale-1px::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  //基于初始位置进行缩放
  -webkit-transform-origin: 0, 0;
  transform-origin: 0, 0;
}

//超过一行显示省略号
.one-line {
  overflow: hidden;
  text-overflow: ellipsis; //省略号
  white-space: nowrap; //不换行
}

//超过来嗯行显示省略号
.two-line {
  display: -webkit-box;
  -webkit-line-clamp: 2; //超过两行文本截取
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
