.content-list {
  // overflow: hidden;//这个属性会影响position：sticky
  padding-bottom: 50px;
  color: #333;
  .list-title {
    justify-content: center;
    text-align: center;
    line-height: 1.4;
    font-size: 17px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .list-title::before {
    content: '';
    height: 1px;
    width: 60px;
    background: #666;
    margin-right: 3px;
    transform-origin: 100% 50%;
    transform: scale(0.5);
    display: inline-block;
    margin-bottom: 5px;
  }
  .list-title::after {
    content: '';
    height: 1px;
    width: 60px;
    background: #666;
    margin-left: 3px;

    transform-origin: 0 50%;

    transform: scale(0.5);
    display: inline-block;
    margin-bottom: 5px;
  }
}
