.banner {
  font-size: 14px;
  font-family: 'PingFangSC-Regular', Hiragino Sans GB, Arial, Helvetica,
    '\5B8B\4F53', sans-serif;
  &__goback {
    z-index: 1000;
    display: flex;
    background-color: rgb(46, 47, 59);
    color: #ffffff;
    height: 50px;
    position: relative;
    i {
      display: inline-block;
      width: 40px;
      height: 50px;
      background: url('./img/arrow.png') no-repeat;
      transform: rotate(180deg);
      background-position: center;
    }
  }
  &__main {
    display: flex;
    flex-direction: row;
    background-color: rgb(46, 47, 59);
    color: #ffffff;
  }
  &__left {
    width: 85px;
    height: 64px;
    background-size: cover;
    margin: 4px 8px;
    margin-bottom: 8px;
  }
  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
  }
  &__distance {
  }
  &__time {
  }
  &__meters {
  }
  &__board {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 71vw;
    line-height: 16px;
    height: 16px;
  }
  &__discount {
  }
}
